.like_holder{
    margin: 40px;
    text-align: center;
    
}

.like_holder :first-child{
    display: inline-block;
    width: 80px;
    cursor: pointer;
    
}

.like_holder:nth-child(2){
    display: inline-block;
    bottom: 10px;
}

.endline{
    display: inline;
    margin-right: 10px;
}
.endline,
.repost,
.delete{
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
    float: right;
    
   
}
.delete,
.repost{
    cursor: pointer;
}
.btn{
    background-color: black;
    color: white;
    border-radius: 15px;
}
.btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
