#writePost {
  background-color: black;
  float: right;
  color: white;
  margin-bottom: 26px;
  border-radius: 15px;
  width: 100px;
  font-size: 12px;
  padding: 13px

}

#writePost:hover {
  background-color: #f0f0f0;
  color: black;
  border: 1px solid black;
}

#readmorehold {
  text-align: center;

}

#readmore {
  background-color: black;
  border-radius: 35px;
  color: white;
  font-size: 12px;
  padding: 13px


}
#readmore:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}

@media(max-width: 1000px) {
  .writetop {
    align-items: center;
    margin-left: 97%;
  }

  #writePost {
    width: 100px;
  }

  .readmoretop {
    margin-right: 30%;
  }



}

@media (max-width: 400px) {
  #writePost {
    width: 100px;
  }

  .readmoretop {
    margin-left: 30%;
  }
}