/* 추천 영역 */
.like_holder {
    margin: 40px;
    text-align: center;
}

.like_holder :first-child {
    display: inline-block;
    width: 80px;
    cursor: pointer;
}

.like_holder:nth-child(2) {
    display: inline-block;
    
}
/* 추천 영역 */

/* 수정 삭제 영역 */

#delete,
#repost{
    background-color: black;
    border: 1px solid black;
}
#delete:hover,
#repost:hover{
    background-color: white;
    color: black;
    
}
/* 수정 삭제 영역 */


.pdiv{
    margin-bottom: 15px;
  
}


/* 댓글 리스트 영역 */
.comment__warp{
    margin-bottom: 50px;
}

.comment_content_warp{
    margin-bottom: 15px;
}

.blog__details__comment h4 {
    margin: 10px 0 25px;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
}

.comment_item_warp{
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 10px;
}







/* 댓글작성영역 */
.submitcomment {
    margin-top: 15px;
    background-color: black;
    color: white;
    border-radius: 15px;
}

.submitcomment:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
/* 댓글작성영역 */


/* 미디어 쿼리 */
@media(max-width: 600px){
    .btn-primary{
        float: right;
        margin-right: 8px;
    }
}
/* 미디어 쿼리 */