HTML CSS JSResult Skip Results Iframe
EDIT ON
*{
  box-sizing: border-box; 
}
  
.que:first-child{
    border-top: 1px solid black;
  }
  
.que{
  position: relative;
  padding: 17px 10px;
  cursor: pointer;
  font-size: 18px;
  border-bottom: 1px solid #dddddd;
  padding-right:40px;
}
  
.que::before{
  display: inline-block;
  content: 'Q';
  font-size: 18px;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.que.on>span{
  font-weight: bold;
  color: black; 
}
  
.anw {
  display: none;
    overflow: hidden;
  font-size: 16px;
  background-color: #f4f4f2;
  padding: 27px 0;
  padding-right: 40px;
}
  
.anw::before {
  display: inline-block;
  content: 'A';
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin: 0 10px;
}

.arrow-wrap {
  position: absolute;
  top:50%; right: 10px;
  transform: translate(0, -50%);
  
}

.que .arrow-top {
  display: none;
}
.que .arrow-bottom {
  display: block;
}
.que.on .arrow-bottom {
  display: none;
}
.que.on .arrow-top {
  display: block; 
}

.product__pagination{
  margin-bottom: 25px;
}

#Accordion_wrap{
  margin-bottom: 50px;
}
