#imgcontainer {
    position: relative;
  
}

#imgtitle {
    width: 100%;
    height: auto;
}

.blog_item_text {
    border: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    padding: 10px 13px 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


/* 블로그 아이템 */
.blog_item_text {
    border: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    padding: 10px 13px 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.blog_item_text span {
	color: #3d3d3d;
	font-size: 13px;
	display: block;
	margin-bottom: 10px;
}

.blog_item_text span img {
	margin-right: 6px;
}

.blog_item_text h5 {
	color: #0d0d0d;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 10px;
}

.blog_item_text a {
	display: inline-block;
	color: #111111;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 4px;
	text-transform: uppercase;
	padding: 3px 0;
	position: relative;
}

.blog_item_text a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #111111;
	content: "";
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}