body {
    overflow-x: hidden;
}

#map {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    z-index: 0;
    position: relative;
    border: 1px solid black;
    width: auto;
    height: 700px;
    max-width: 1200px;
    margin-bottom: 60px;

}



.locationSearch {
    display: flex;
    height: 70px;
    align-items: center;
    margin: 5px;

    margin-left: auto;
    margin-right: auto;
    position: relative;

}


#place {
    border-radius: 35px;
    height: 70px;
    width: 500px;
    z-index: 100;
    margin-top: 25px;
    border: 1px solid #949494;
    padding-left: 10px;

    
}

#searchImg {
    height: 70px;
    position: absolute;
    right: 13px;
    bottom: 3px;
    cursor: pointer;
    z-index: 100;
    padding-top: 25px;
}


@media (max-width: 780px) {
    #map {
        height: 650px;
    }

    #title {
        top: 10px;
        width: 60px;
        height: 60px;
    }

   

    .locationSearch {
        height: 70px;

    }

    #place {
        width: 380px;
    }

}

