.table_board_for.type_a {
    border-top: 2px solid #000;
}
.table_board_for {
    table-layout: fixed;
    width: 100%;
    border-top: 1px solid #474b53;
    border-bottom: 1px solid #ddd;
    text-align: center;
    word-break: break-all;
}
table, td, th, tr {
    border-collapse: collapse;
}
.table_board_for.type_a tr th {
    background-color: #f8f8f8;
}
.table_board_for thead th {
    color: #444;
    font-weight: bold;
}
.table_board_for th {
    padding: 13px 2px;
    position: relative;
    color: #000;
    font-weight: 700;
}
.table_board_for td {
    padding: 15px 5px;
    border-top: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
	font-size: 18px;
}
.text_left {
    text-align: left;
	vertical-align: middle;
}
.icon{
	background-size: 10px;
}
.product__pagination{
	margin-bottom: 60px;
	margin-top: 20px;
}

.notice-details{
	color: #000;
}
.notice-details:hover{
	color: #000;
	text-decoration: underline;
}

.notice{
	margin: 30px;
	font-weight: bold;
}
.row{
    margin-bottom: 40px;
}

.nav-link{
    color: black;
  }
  .nav-link:hover{
    color: black;
  }
@media screen and (max-width: 1024px){
.table_board_for col, .table_board_for colgroup, .table_board_for table, .table_board_for tbody, .table_board_for td, .table_board_for th, .table_board_for thead, .table_board_for tr {
    display: block;
}}
@media screen and (max-width: 1024px){
.table_board_for thead {
    display: none;
}}
@media screen and (max-width: 1024px){
.table_board_for tbody {
    text-align: left;
}}
@media screen and (max-width: 1024px){
.table_board_for tbody tr:first-child {
    border-top: 0;
}}
@media screen and (max-width: 1024px){
.table_board_for tbody tr {
    border-top: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}}
@media screen and (max-width: 1024px){
.table_board_for tbody td:first-child {
    display: none;
}}

@media screen and (max-width: 1024px){
.table_board_for tbody td {
    text-align: left;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
}}

@media screen and (max-width: 1024px){
.table_board_for.type_a tr td:nth-child(n+2) {
    flex: 0 0 100%;
    max-width: 100%;
}}
@media screen and (max-width: 1024px){
    .notice {
       font-size: 24px;
    }}